* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.box {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: transform 0.5s;

}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0002);

}

.box span::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .move:hover{
    background: linear-gradient(skyblue,red);
    font-weight: 900;
    transition-duration: .2s;
}
.move{
    position: absolute;
    height: 50px;
    width: 100px;
    top:90%;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;

    
} */